name: CI

on:
  push:
    branches:
      - 'main'
      - 'secret-test-remove-dockerimage'
  pull_request:

jobs:
  build:
    uses: powsybl/github-ci/.github/workflows/build-backend-app-generic.yml@9cb66b2581c1dd401ede4e30e89a8561cf38cdc5
    with:
      dockerUsername: gridsuiteci
      eventType: monitor_updated
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      repo-token: ${{ secrets.REPO_ACCESS_TOKEN }}
