name: CI

on:
  push:
    branches:
      - 'main'
      - 'secret-test-remove-dockerimage'
  pull_request:

jobs:
  build:
    uses: powsybl/github-ci/.github/workflows/build-backend-app-generic.yml@5a8a89b8a1f75adaec461404f957e02f8dfea948
    with:
      dockerImage: docker.io/gridsuite/monitor-server
      dockerUsername: gridsuiteci
      eventType: monitor_updated
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      repo-token: ${{ secrets.REPO_ACCESS_TOKEN }}
